<div class="container">
  <div class="row">
      <h2>Search </h2>
      <!-- <img  src="noImage.png" height="100" > -->
     </div>
  <div class="row">
    <form #form= "ngForm" (ngSubmit)="search()" >
      <div class="col-md-3 col-sm-3" >
        <input class="form-control" placeholder="search" name="searchQuery" ngModel required #searchQuery="ngModel" pattern="[a-zA-Z0-9\- ]*">
        <span class="help-block" *ngIf="!searchQuery.valid && searchQuery.touched">please enter only letters, numbers, hyphens and spaces</span>
      </div>
      <div class="col-md-6 col-sm-6" >
          <!-- <div *ngIf="searchTypeError" style="color:red">Please Choose Type:</div> -->

        <div class="col-md-6 col-sm-6" style="border-style: groove; width:auto">
            <input type="radio" value="beer" name="searchType" ngModel required > Beer
            <input type="radio" value="brewery" name="searchType" ngModel required> Brewery
        </div>


      </div>
      <div class="col-md-3 col-sm-3">
          <input [disabled]="!form.valid" type="submit" value="search" class="btn btn-primary btn-lg col-md-9" >

          <!-- <button class="btn btn-primary btn-lg col-md-9" (click)="search()">Search </button> -->
      </div>
    </form>
  </div>
  <div class="row">
   <h2>Search Results</h2>
  </div>
  <div class="row" *ngIf="searchError && beers.length == 0">
   {{searchError}}
  </div>

  <div class="row"   *ngFor="let beer of beers">
      <div class="col-md-2 col-sm-2" >
        <br> <br>
          <img *ngIf="beer.labels" [attr.src]="beer.labels.icon" height="100" >
          <img *ngIf="!beer.labels" src="../../../assets/noImage.png"  height="100"/>
        </div>
        <div class="col-md-10 col-sm-10" >
          <div>
            <h3  *ngIf="beer.name">{{beer.name}}</h3>
          </div>
          <div *ngIf="beer.description">
            {{beer.description}}
          </div>
        </div>

  </div>
</div>
