

<div class="container">




    <div class="panel panel-success">
      <div class="panel-heading">Random Beer</div>
      <div class="panel-body">
        <div class="col-md-3 col-sm-3">
          <img [attr.src]="randomBeer.labels.medium" height="150">
        </div>
        <div class="col-md-6 col-sm-6"> {{randomBeer.description}}</div>
        <div class="col-md-3 col-sm-3">
          <button class="btn btn-primary btn-lg" (click)="getRandomBeer()">Another Beer </button> <br><br>
          <button class="btn btn-primary btn-lg" (click)="getBreweryBeers(randomBeer.id)">More From This Brewery </button>
        </div>
      </div>
    </div>
    <div class="container">
        <div class="row">
            <h2>Search </h2>
            <!-- <img  src="noImage.png" height="100" > -->
           </div>
        <div class="row">
          <div class="col-md-3 col-sm-3" >
            <input class="form-control" placeholder="search" [(ngModel)]="searchQuery">
          </div>
          <div class="col-md-6 col-sm-6" >
            <div class="col-md-6 col-sm-6" style="border-style: groove; width:auto">
                <input type="radio" value="beer" name="searchType" [(ngModel)]="searchType"> Beer
                <input type="radio" value="brewery" name="searchType" [(ngModel)]="searchType"> Brewery
            </div>


          </div>
          <div class="col-md-3 col-sm-3">
              <button class="btn btn-primary btn-lg col-md-9" (click)="search()">Search </button>
          </div>
        </div>
        <div class="row">
         <h2>Search Results</h2>
        </div>
        <div class="row" *ngIf="searchError && beers.length == 0">
         {{searchError}}
        </div>

        <div class="row"   *ngFor="let beer of beers">
            <div class="col-md-2 col-sm-2" >
              <br> <br>
                <img *ngIf="beer.labels" [attr.src]="beer.labels.icon" height="100" >
                <!-- <img else src="noImage.png" height="100" > -->
              </div>
              <div class="col-md-10 col-sm-10" >
                <div>
                  <h3  *ngIf="beer.name">{{beer.name}}</h3>
                </div>
                <div *ngIf="beer.description">
                  {{beer.description}}
                </div>
              </div>

        </div>
      </div>



</div>

