

<div class="container">




    <div class="panel panel-success">
      <div class="panel-heading">Random Beer</div>
      <div class="panel-body">
        <div class="col-md-3">
          <!-- {{randomBeer.labels.medium}} -->
          <img [attr.src]="randomBeer.labels.icon" >

        </div>
        <div class="col-md-6"> {{randomBeer.description}}</div>
        <div class="col-md-3">
          <button class="btn btn-primary">Another Beer </button> <br><br>
          <button class="btn btn-primary">More From This Brewery </button>
        </div>


      </div>
    </div>



</div>

